/* Base Styles */

*, 
*:before, 
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #6e859c;
  padding: 50px;
}

/* Search Bar */

.search {
  text-align: center;
  width: 100%;
}

#search {
  width: 50%;
  padding: 10px;
  border: solid 3px #6E9C9C;
  border-radius: 3px;
}

/* Photo Gallery */

.gallery {
  width: 90%;
  max-width: 1000px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}